<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Home Streaming</title>
    <script language="javascript" type="text/javascript">
        var jqxhr = $.getJSON("http://localhost:8888/movies", function (data) {
            var items = [];
            $.each(data.results, function (key, val) {
                items.push("<img id='" + key + "'" + "src=' http://image.tmdb.org/t/p/w185//" + val.poster_path + "'>");
                items.push("<a href='http://localhost:8888/movie/" + val.title + "'>" + val.title + "</a>");
            });

            $("<ul/>", {
                "class": "my-new-list",
                html: items.join("")
            }).appendTo("body");
        });

    </script>
</head>

<body>

Home
<table style="width:100%" id="box">

</table>
<div id="div1">
    ciao
</div>
</body>
</html>
