<!DOCTYPE html>
<html lang="en">


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).keyup(function(e) {
                if (e.keyCode == 37) {
                    $("#key").html("left");
                }
                if (e.keyCode == 38) {
                    $("#key").html("up");
                }
                if (e.keyCode == 39) {
                    $("#key").html("right");
                }
                if (e.keyCode == 40) {
                    $("#key").html("down");
                }
            });
        })
    </script>

</head>
<body>
<div id="key"></div>
<iframe width="100%" height="100%" src="https://openload.co/embed/jwAn2V7g3CI/Star_Wars_Episodio_VII_Il_Risveglio_Della_Forza_%5BHD%5D_%282015%29.MP4.mp4" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
</body>
</html>