<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">

    </script>
</head>
<body>
Film

<% data.forEach(function(movie) { %>
<li><a href="http://localhost:8888/link?q=<%= movie.link %>" ><%= movie.name %> </a>- <%= movie.size %> </li>
<% }); %>

</body>
</html>